.city {
  display: flex;
  justify-content: center;
}

.city-map {
  width: 50vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.city-info {
  width: 50vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .city-info {
    align-items: flex-start;
  }
}

.city-metrics {
  padding-bottom: 7vh;
}

.city-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12.5vh;
  padding: 0 10px;
}

.city-item:nth-child(2n + 2) {
  background-color: #3f62a4;
}

.city-detail {
  display: flex;
  align-items: center;
}
